{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-centro">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" class="form-control" autofocus/>
        </div>
        <br/>
        <div>
            <button class="bt bt-primary" style="width: 100%">{{ 'resetting.request.submit'|trans }}</button>
        </div>
    </form>
{% endblock fos_user_content %}


