{% embed 'layout/index.html.twig' with {objetos: departamentos, pluralObjeto: 'Departamentos', singularObjeto: 'Departamento', ruta: path('departamento_new') } %}
    {% block tabla %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.nombre }}</td>
                <td>
                    <a href="{{ path('departamento_edit', {id: departamento.id}) }}" class="icono icono-editar"><i class="mdi mdi-lead-pencil"></i></a>
                    <a href="{{path('departamento_delete', {id: departamento.id})}}" class="icono icono-eliminar"><i class="icono-eliminar mdi mdi-window-close"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
{% endembed %}
